
/*--------------------------------------------------------------
4.0 - General styles
--------------------------------------------------------------*/
hr {
  border: 1px solid #d4d4d4;
  clear: both;
}
h1 {
  font-size: 36px;
  font-size: 2.25rem;
}
h2 {
  font-size: 30px;
  font-size: 1.875rem;
}
h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
h4 {
  font-size: 18px;
  font-size: 1.125rem;
}
h5 {
  font-size: 15px;
  font-size: 0.9375rem;
}
h6 {
  font-size: 12px;
  font-size: 0.75rem;
}
p {
  color: #7d7d7b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}
ul {
  list-style: none;
}
.hidden-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.img-circular {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
/*--------------------------------------------------------------
5.0 - Header
--------------------------------------------------------------*/
.top-bar {
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
.top-bar .name {
  padding-top: 5px;
  color: #ff6b00;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  padding-left: 64px;
  padding-left: 4rem;
}
@media (max-width: 68.75em) {
  .top-bar .name {
    padding-left: 16px;
    padding-left: 1rem;
  }
}
@media (max-width: 64em) {
  .top-bar .name {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media (max-width: 64em) {
  .top-bar {
    height: 35px;
  }
}
.name {
  font-size: 18px;
  font-size: 1.125rem;
  padding-top: 8px;
}
.name a {
  color: #ff6b00;
}
.name a:hover,
.name a:focus {
  color: #ff8329;
}
.top-bar-section ul {
  padding-right: 64px;
  padding-right: 4rem;
}
@media only screen and (max-width: 68.75em) {
  .top-bar-section ul {
    padding-right: 16px;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 64em) {
  .top-bar-section ul li > a {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #ffffff;
  background-repeat: none;
  background-attachment: none;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  color: #7d7d7b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #ffffff;
  background-repeat: none;
  background-attachment: none;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  color: #ff6b00;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button),
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: #222222;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background-color: #222222;
}
.top-bar-section .dropdown li.active:not(.has-form) a:not(.button) {
  background-color: #222222;
}
.top-bar-section .has-dropdown > a:after {
  border-color: #7d7d7b transparent transparent;
}
ul.off-canvas-list li a {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #7d7d7b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.off-canvas-list li.active {
  background-color: #222222;
}
.move-right > .inner-wrap {
  transform: translate3d(10rem, 0, 0);
}
.left-off-canvas-menu {
  width: 160px;
  width: 10rem;
}
/*--------------------------------------------------------------
6.0 - Main content
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
  #carousel {
    padding-top: 10px;
  }
}
.orbit-img {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 64.063em) {
  #content-abstract {
    background: url(../images/abstract-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
  #content-imagined {
    background: url(../images/imagined-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
  #content-real {
    background: url(../images/real-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
  #content-recent {
    background: url(../images/recent-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
}
.abstract-sm,
.imagined-sm,
.real-sm {
  padding-bottom: 5px;
}
.gallery {
  position: relative;
}
.galleryTitle {
  position: absolute;
  left: 15px;
  top: -5px;
}
@media only screen and (max-width: 40em) {
  .rg-gallery,
  .rg-thumbs {
    margin-top: 10px;
  }
}
@media (max-width: 64em) {
  .rg-gallery,
  .rg-thumbs {
    margin-top: 15px;
  }
}
.rg-image-wrapper {
  min-height: 20px;
  padding: 20px 30px;
  position: relative;
}
.rg-image {
  line-height: 0;
  position: relative;
  text-align: center;
}
.rg-image img {
  max-height: 100%;
  max-width: 100%;
}
.rg-image-nav a {
  background: #ffffff url(../images/nav.png) no-repeat -20% 50%;
  cursor: pointer;
  height: 100%;
  text-indent: -9000px;
  opacity: 0.3;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.rg-image-nav a.rg-image-nav-next {
  background-position: 115% 50%;
  left: auto;
  right: 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.rg-image-nav a:hover {
  opacity: 0.8;
}
.rg-caption {
  margin-top: 15px;
  position: relative;
  text-align: center;
}
.rg-caption p {
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 16px;
  padding: 0 15px;
  text-transform: uppercase;
}
.rg-view {
  height: 30px;
}
.rg-view a {
  background: #464646 url(../images/views.png) no-repeat top left;
  border: 3px solid #464646;
  display: block;
  float: right;
  height: 16px;
  margin-right: 3px;
  opacity: 0.8;
  width: 16px;
}
.rg-view a:hover {
  opacity: 1.0;
}
.rg-view a.rg-view-full {
  background-position: 0 0;
}
.rg-view a.rg-view-selected {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}
.rg-view a.rg-view-thumbs {
  background-position: 0 -16px;
}
.rg-loading {
  background: #000000 url(../images/ajax-loader.gif) no-repeat center center;
  height: 46px;
  margin: -23px 0 0 -23px;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 46px;
  z-index: 100;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/*--------------------------------------------------------------
8.0 - Featured content
--------------------------------------------------------------*/
#portfolio {
  padding-left: 100px;
  padding-left: 6.25rem;
  padding-right: 100px;
  padding-right: 6.25rem;
}
#portfolio a {
  color: #7d7d7b;
}
#portfolio h4 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #d4d4d4;
  line-height: 0.2;
  margin: 10px 0 20px;
  text-transform: uppercase;
  color: #7d7d7b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#portfolio h4 span {
  background: #ffffff;
  padding: 0 10px;
  padding: 0 0.625rem;
}
#portfolio h5 {
  font-weight: bold;
}
@media only screen and (max-width: 64em) {
  #portfolio {
    padding-left: 50px;
    padding-left: 3.125rem;
    padding-right: 50px;
    padding-right: 3.125rem;
    padding-top: 10px;
    padding-top: 0.625rem;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
  }
}
/*--------------------------------------------------------------
7.0 - Contact page
--------------------------------------------------------------*/
#content-contact {
  background: url(../images/contact_img.jpg) no-repeat;
  background-position: center top;
}
#content-contact .contact button.small,
#content-contact .contact .button.small {
  padding: 5px 5px;
  padding: 0.3125rem 5px;
  padding: 5px 0.3125rem;
  padding: 0.3125rem 0.3125rem;
}
#content-contact .contact-intro {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #ffffff;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
@media only screen and (min-width: 40.063em) and (max-width: 70em) {
  #content-contact {
    background-size: 90%;
    display: block;
    height: 0;
    padding-bottom: 65.10416667%;
  }
}
@media only screen and (min-width: 70.063em) {
  #content-contact {
    background-size: 76%;
    display: block;
    height: 0;
    padding-bottom: 54.6875%;
  }
}
form {
  background: #cc3333;
  border: 1px solid #cc3333;
  padding: 13px 20px;
  padding: 0.8125rem 20px;
  padding: 13px 1.25rem;
  padding: 0.8125rem 1.25rem;
  /* -- CSS3 - define rounded corners for the form -- */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 15px;
  margin-top: 0.9375rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
label {
  color: #ffffff;
  font-size: 13px;
  font-size: 0.8125rem;
}
input[type="text"],
input[type="email"],
textarea {
  background: #ffffff;
  border: 1px #d4d4d4 solid;
  font-size: 12px;
  font-size: 0.75rem;
  color: #595958;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 6px;
  /* -- CSS3 Shadow - create a shadow around each input element -- */
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
  /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
  -webkit-transition: background 0.3s linear;
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  background: #cccccc;
}
input.button {
  background-color: #383838;
  border: 1px solid #cccccc;
  color: #cccccc;
  margin-top: 5px;
  margin-top: 0.3125rem;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}
input.button:hover {
  background-color: #383838;
  color: #ff6b00;
}
.anti-spam {
  display: none;
}
.thank-you {
  background: #cc3333;
  border: 1px solid #cc3333;
  margin: 200px auto;
  padding: 20px 15px 0 15px;
  width: 320px;
  width: 20rem;
  /*controls the size of the red box */
  /* -- CSS3 - define rounded corners for the form -- */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.thank-you p {
  font-size: 20px;
  font-size: 1.25rem;
  color: #ffffff;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 0.5;
}
@media only screen and (max-width: 40em) {
  .thank-you {
    width: 245px;
    width: 15.3125rem;
  }
  .thank-you p {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
/*--------------------------------------------------------------
8.0 - Footer
--------------------------------------------------------------*/
#footer {
  background-color: #222222;
  padding-top: 15px;
}
#footer h5,
#footer h6 {
  color: #ffffff;
  text-transform: uppercase;
}
#footer .categ-img {
  padding-bottom: 7px;
}
#footer .categ-descrip-t {
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 0;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #footer .categ-descrip-t {
    padding-top: 4px;
    padding-top: 0.25rem;
    padding-bottom: 0;
  }
}
#footer .img-left {
  border: 2px solid #d4d4d4;
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
}
.has-tip {
  border-bottom: none;
  color: #7d7d7b;
  cursor: pointer;
  font-weight: none;
  text-transform: none;
}
.recent-work a,
.portfolio-footer a {
  color: #ffffff;
}
#portfolio a:hover,
.portfolio-footer a:hover,
.has-tip:hover,
.recent-work a:hover {
  color: #ff6b00;
}
@media only screen and (max-width: 40em) {
  .reveal-modal {
    min-height: 100px;
  }
}
#footer-bottom {
  background: #080808;
  clear: both;
  overflow: hidden;
}
#footer-bottom .copyright-credit {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 0;
}

/*--------------------------------------------------------------
9.0 - Galleria styling
--------------------------------------------------------------*/
.slideshow,
.thumbs {
  margin: 0;
  text-align: center;
  max-width: 100%;
  height: auto;
}
.next-thumbs,
.back-thumbs {
  display: inline-block;
  position: absolute;
  top: 90px;
  z-index: 9999;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #58585b;
  line-height: 8px;
}
.next-thumbs {
  right: 8rem;
  background: url('../images/arrow-right.png') no-repeat right center;
  padding-right: 2rem;
}
.back-thumbs {
  left: 8rem;
  background: url('../images/arrow-left.png') no-repeat left center;
  padding-left: 2rem;
}
.thumb-wrapper {
  display: block !important;
  margin-bottom: 1rem;
}
.thumbs li {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}
.controls {
  height: 23px;
  margin: 0 250px;
}
.controls a {
  color: #58585b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9.5px;
  letter-spacing: 2px;
  line-height: 8px;
}
.ss-controls {
  float: left;
}
.nav-controls {
  float: right;
}
.prev {
  padding-right: 20px;
}
/*--------------------------------------------------------------
10.0 - Wordpress specific styling
--------------------------------------------------------------*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}




.top-bar-section .right li .dropdown {
  right: -4rem;
}
.top-bar-section .dropdown {
  min-width: 140%;
}
ul.off-canvas-list {
  float: left;
  padding-left: 1rem;
}
ul.off-canvas-list li {
  list-style-type: none;
}
img.wp-post-image {
  margin-bottom: 1rem;
}
#content,
#main {
  padding: 0;
  margin: 0;
}
#inner-content {
  margin-left: 5rem;
}
.blog-tagline {
  font-size: 18px;
  font-size: 1.125rem;
}
