/*--------------------------------------------------------------
1.0 - General styles
--------------------------------------------------------------*/
body {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
  clear: both;
  border: 1px solid #d4d4d4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #696969;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

h2 {
  font-size: 30px;
  font-size: 1.875rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

h5 {
  font-size: 15px;
  font-size: 0.9375rem;
}

h6 {
  font-size: 12px;
  font-size: 0.75rem;
}

p {
  color: #7d7d7b;
  font-size: 12px;
  font-size: 0.75rem;
}

ul {
  list-style: none;
}

.img-circular {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

a {
  color: #ff6b00;
}

a:hover,
a:focus {
  color: #595958;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  height: 0.0625rem;
  width: 1px;
  width: 0.0625rem;
  overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  left: 0.3125rem;
  line-height: normal;
  padding: 15px 23px 14px;
  padding: 0.9375rem 1.4375rem 0.875rem;
  text-decoration: none;
  top: 5px;
  top: 0.3125rem;
  width: auto;
  z-index: 100000;
}


/*--------------------------------------------------------------
2.0 - Header
--------------------------------------------------------------*/
.top-bar {
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
.top-bar .name {
  padding-top: 5px;
  padding-top: 0.3125rem;
  color: #ff6b00;
  font-size: 24px;
  font-size: 1.5rem;
  padding-left: 64px;
  padding-left: 4rem;
}
@media (max-width: 68.75em) {
  .top-bar .name {
    color: #ff6b00;
    padding-left: 16px;
    padding-left: 1rem;
  }
}
@media (max-width: 64em) {
  .top-bar .name {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media (max-width: 64em) {
  .top-bar {
    height: 35px;
    height: 2.1875rem;
  }
}
.name {
  font-size: 18px;
  font-size: 1.125rem;
  padding-top: 8px;
  padding-top: 0.5rem;
}
.name a {
  color: #ff6b00;
}
.name a:hover,
.name a:focus {
  color: #ff8329;
}

.tab-bar-section a {
  color: #ff6b00;
}
.top-bar-section ul {
  padding-right: 64px;
  padding-right: 4rem;
}
@media only screen and (max-width: 68.75em) {
  .top-bar-section ul {
    padding-right: 16px;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 64em) {
  .top-bar-section ul li > a {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #ffffff;
  background-repeat: none;
  background-attachment: none;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  color: #7d7d7b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #ffffff;
  background-repeat: none;
  background-attachment: none;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  color: #ff6b00;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button),
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: #222222;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background-color: #222222;
}
.top-bar-section .dropdown li.active:not(.has-form) a:not(.button) {
  background-color: #222222;
}
.top-bar-section .has-dropdown > a:after {
  border-color: #7d7d7b transparent transparent;
}

//the next two are from wp portion - need to look over
.top-bar-section .right li .dropdown {
  right: -64px;
  right: -4rem;
}
.top-bar-section .dropdown {
  min-width: 100%;
}

ul.off-canvas-list {
  float: left;
  padding-left: 16px;
  padding-left: 1rem;
}
ul.off-canvas-list li {
  list-style-type: none;
}

ul.off-canvas-list li a {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #7d7d7b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.off-canvas-list li.active {
  background-color: #222222;
}

.move-right > .inner-wrap {
  transform: translate3d(10rem, 0, 0);
}

.left-off-canvas-menu {
  width: 160px;
  width: 10rem;
}

/*--------------------------------------------------------------
3.0 - Main content
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
  #carousel {
    padding-top: 10px;
    padding-top: 0.625rem;
  }
}

.orbit-img {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 64.063em) {
  #content-abstract {
    background: url(../images/abstract-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
  #content-imagined {
    background: url(../images/imagined-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
  #content-real {
    background: url(../images/real-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
  #content-recent {
    background: url(../images/recent-backg.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    width: 1030px;
    width: 64.375rem;
  }
}

#content,
#main {
  padding: 0;
  margin: 0;
}

#inner-content {
  margin-left: 0;
}

 @media screen and (min-width: 40em) {
    #inner-content {
      margin-left: 64px;
      margin-left: 4rem;
    }
}

.gallery {
  position: relative;
}

.galleryTitle {
  position: absolute;
  left: 15px;
  left: 0.9375rem;
  top: -5px;
  top: -0.3125rem;
}

img.wp-post-image {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.blog-h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 45px; 
  font-size: 2.8125rem;
  color: #27bec7;
  margin: 0;
}

.blog-tagline {
  color: #696969;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', cursive;
  padding-left: 100px;
  padding-left: 6.25rem;
}

ul.pagination li.current a, ul.pagination li.current button {
  background: #27bec7;
}
/*--------------------------------------------------------------
4.0 - Featured content (homepage)
--------------------------------------------------------------*/
#portfolio {
  padding-left: 100px;
  padding-left: 6.25rem;
  padding-right: 100px;
  padding-right: 6.25rem;
}

#portfolio a {
  color: #7d7d7b;
}

#portfolio h4 {
  border-bottom: 2px solid #d4d4d4;
  color: #7d7d7b;
  line-height: 0.2;
  margin: 10px 0 20px;
  margin: 0.625rem 1.25rem;
  text-align: center;
  text-transform: uppercase;  
  width: 100%;
}

#portfolio h4 span {
  background: #ffffff;
  padding: 0 10px;
  padding: 0 0.625rem;
}

#portfolio h5 {
  font-weight: bold;
}

@media only screen and (max-width: 64em) {
  #portfolio {
    padding: 10px 50px;
    padding: 0.625rem 3.125rem;
  }
}
/*--------------------------------------------------------------
5.0 - Contact page (modified for wordpress)
--------------------------------------------------------------*/
#content-contact {
  background: url(../images/contact_bg.jpg) no-repeat;
  background-position: center top;
}

@media only screen and (min-width: 40.063em) and (max-width: 70em) {
  #content-contact {
    background-size: 90%;
    display: block;
    height: 0;
    padding-bottom: 65.10416667%;
  }
}
@media only screen and (min-width: 70.063em) {
  #content-contact {
    background-size: 76%;
    display: block;
    height: 0;
    padding-bottom: 54.6875%;
  }
}

.ninja-forms-required-items {
  color: #ffffff;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.5;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
}

.ninja-forms-form-wrap {
  background: #cc3333;
  border: 1px solid #cc3333;
  border-radius: 20px;
  padding: 15px 20px 0 15px;
  padding: 0.9375rem 1.25rem 0 0.9375rem;
  margin-bottom: 0;
}

label {
  color: #ffffff;
  font-size: 13px;
  font-size: 0.8125rem;
}

input[type="submit"] {
  background-color: #383838;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 14px;
  font-size: 0.825rem;
  padding: 5px 5px;
  padding: 0.3125rem 0.3125rem;
  text-transform: uppercase;
}

input[type="text"],
input[type="email"],
textarea {
  background: #ffffff;
  border: 1px #d4d4d4 solid;
  color: #595958;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 6px;
  padding: 0.375rem;
  /* -- CSS3 Shadow - create a shadow around each input element -- */
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
  /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
  -webkit-transition: background 0.3s linear;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  background: #cccccc;
}

input.button {
  background-color: #383838;
  border: 1px solid #cccccc;
  color: #cccccc;
  margin: 5px 0;
  margin: 0.3125rem 0;
  text-transform: uppercase;
}

input.button:hover {
  background-color: #383838;
  color: #ff6b00;
}

.anti-spam {
  display: none;
}

/*--------------------------------------------------------------
6.0 - Footer
--------------------------------------------------------------*/
#footer {
  background-color: #222222;
  padding-top: 15px;
  padding-top: 0.9375rem;
}

#footer h5,
#footer h6 {
  color: #ffffff;
  text-transform: uppercase;
}

#footer .categ-img {
  padding-bottom: 7px;
  padding-bottom: 0.4375rem;
}

#footer .categ-descrip-t {
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 0;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #footer .categ-descrip-t {
    padding-top: 4px;
    padding-top: 0.25rem;
    padding-bottom: 0;
  }
}

.img-left {
  border: 2px solid #d4d4d4;
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
}

.has-tip {
  border-bottom: none;
  color: #7d7d7b;
  cursor: pointer;
  font-weight: none;
  text-transform: none;
}

.recent-work a,
.portfolio-footer a {
  color: #ffffff;
}

#portfolio a:hover,
.portfolio-footer a:hover,
.has-tip:hover,
.recent-work a:hover {
  color: #ff6b00;
}

@media only screen and (max-width: 40em) {
  .reveal-modal {
    min-height: 100px;
    min-height: 6.25rem;
  }
}

#footer-bottom {
  background: #080808;
  clear: both;
  overflow: hidden;
}

#footer-bottom .copyright-credit {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 0;
}

#footer li {
  padding-left: 0;
}

/*--------------------------------------------------------------
7.0 - Portfolio pages styling
--------------------------------------------------------------*/
//photospace gallery plugin 

.photospace_res .gal_content {
  float: none;
  width: 100%;
}

.photospace_res .thumbs_wrap2 {
  float: none;
  width: 100%;
}

.photospace_res .slideshow-container {
  margin: 0 15px;
  margin: 0 0.9375rem;
}

.photospace_res a.pageLink {
  border: none;
}

.photospace_res {
  margin-top: 10px; 
  margin-top: 0.625rem;
}

.photospace_res .thumnail_row a.prev,
.photospace_res .thumnail_row a.next {
  position: absolute;
  z-index: 999999;
}

.photospace_res .thumnail_row a.prev {
  background-image: url('../images/arrow-left.png');
  left: -56px;
  left: -3.5rem;
}
.photospace_res .thumnail_row a.next {
  background-image: url('../images/arrow-right.png');
  right: -56px;
  right: -3.5rem;
}

@media screen and (max-width: 63.9375em) {
  .photospace_res .thumbs_wrap2{
    display: none;
  }
}

.photospace_res .controls {
  height: 23px;
  height: 1.4375rem;
  margin: 0 250px;
  margin: 0 15.625rem;
}

.photospace_res .controls a {
  color: #58585b;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9.5px;
  font-size: 0.59375rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}

.photospace_res .ss-controls {
  float: left;
}

.portfolio-category {
  padding: 55px 0 0 25px;
  padding: 3.4375rem 0 0 1.5625rem;
}


